.container{
	width: 100%;
	height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
	top: 500px;
	right: 50px;
	position: fixed;
}
#menuIcon{
	width: 60px;
	border-radius: 50%;
	position: fixed;
	top: 40px;
	right: 60px;
	cursor: pointer;
	z-index: 1001;
}
.menu-box{
	width: 0;
	height: 0;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	right: 0;
	background-size: cover;
	position: fixed;  /* or absolute */
    z-index: 1000; /* for layer*/
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-bottom-left-radius: 100%;
	transition: width 0.5s, height 0.5s, border-radius 0.5s;
}
.menu-box.open-menu{
	width: 100%;
	height: 100vh;
	border-bottom-left-radius: 0;
}
.menu-box.open-menu ul li{
    opacity: 1;
    transform: translateY(0);
    transition: transform 1s, opacity 1s;
    transition-delay: 0.5s;
}
.menu-box ul li{
	list-style: none;
	margin: 20px;
	text-align-: center;

	opacity: 0;
    transform: translateY(30px);
}
.menu-box ul li a{
	display: inline-block;
	text-decoration:  none;
	color: white;
	font-size: 50px;
	font-weight: 600;
	position: relative;
    text-shadow: 0 0 0 red;
    transition: text-shadow 0.5s transform 0.5s;

}
.menu-box ul li a:hover{
	text-shadow: -3px 3px 0 gray;
	transform: translateY(-6px);
}
.menu-box ul li a::after{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	bottom: 19px;
	right: -18px;
    opacity: 0;
    box-shadow: 0 0 0 grey;
    transition: box-shadow 0.5s;
}
.menu-box ul li a:hover::after{
    opacity: 1;
    box-shadow: -2px 2px 0 grey;
}


*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.slider__navi {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	z-index: 999;
}

.slider__navi a {
	display: block;
	height: 6px;
	width: 20px;
	margin: 20px 0;
	text-indent: -9999px;
	box-shadow: none;
	border: none;
	background: rgba(0,0,0,0.2);
}

.slider__navi a.active {
	background: rgba(255,255,255,1);
}

body {
	position: relative;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	min-height: 100vh;
}

.flex__container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap; 
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
	height: 100vh;
	width: 100%;
	z-index: 1;
}

.flex__container.flex--active {
	z-index: 2;
}

.text--sub {
	font-size: 12px;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	margin-bottom: 40px;
	color: #264d00;
}

.text--big {
	font-family: 'Poppins', sans-serif;
	font-size: 7em;
	font-weight: 700;
	line-height: 110px;
	white-space: nowrap;
	color: #264d00;
}

.text--normal {
	font-size: 20px;
	color: #264d00;
	line-height: 22px;
	margin-top: 25px;
}

.text__background {
	font-family: 'Poppins', sans-serif;
	position: absolute;
	left: 72px;
	bottom: -60px;
	color: rgba(0,0,0,0.1);
	font-size: 150px;
	font-weight: 700;
}

.flex__item {
	height: 100vh;
	color: #fff;
	transition: transform 0.1s linear;
}

.flex__item--left {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	width: 65%;
	transform-origin: left bottom;
	transition: transform 0.1s linear 0.4s;
	opacity: 0;
	position: relative;
	overflow: hidden;
}

.flex__item--right {
	width: 35%;
	transform-origin: right center;
	transition: transform 0.1s linear 0s;
	opacity: 0;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
	opacity: 1;
}
/* Global warming */

.flex--gbwarm .flex__item--left {
	background-image: url(Images/gbwarm.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.flex--gbwarm .flex__item--right {
	background: #b7cbb3;
}
/* deforestation */

.flex--deforestation .flex__item--left {
	background-image: url(Images/def.jpg);
}

.flex--deforestation .flex__item--right {
	background: #87a96b;
}

/* population */

.flex--population .flex__item--left {
	background-image: url(Images/indus.jpg);
}

.flex--population .flex__item--right {
	background: #dfedde;
}

/* Industrialization */

.flex--industrialization .flex__item--left {
	background-image: url(Images/pop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.flex--industrialization .flex__item--right {
	background: #d0e0b8;
}

.flex__content {
	margin-left: 50px;
	width: 55%;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}

.cause__img {
	position: absolute;
	bottom: 20px;
	right: 15%;
	max-height: 40vw;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
	height: 350px;
	width: 350px;
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
	transform: translate3d(0,-200%,0);
	opacity: 0;
}

.flex__container.animate--start .cause__img {
	transform: translate3d(-200px,0,0);
	opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
	transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
	transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
	transform: translate3d(0,200%,0);
	opacity: 0;
}

.flex__container.animate--end .__img {
	transform: translate3d(200px,0,0);
	opacity: 0;
}
    #menuIcon {
      cursor: pointer;
      width: 45px; 
    }
    /* Hamburger icon styles */
    #menuIcon .bar {
      display: block;
      width: 45px; 
      height: 4.5px;
      margin: 7.5px auto;
      background-color: black;
      transition: 0.3s;
    }
    /* X icon styles */
    #menuIcon.open-menu .bar:nth-child(1) {
      transform: rotate(45deg) translate(7.5px, 7.5px); 
    }
    #menuIcon.open-menu .bar:nth-child(2) {
      opacity: 0;
    }
    #menuIcon.open-menu .bar:nth-child(3) {
      transform: rotate(-45deg) translate(10.5px, -9px); 
    }
 